### BOOT #######################################################################

/.boot/

### LEININGEN ##################################################################

.lein-*

### MAKE #######################################################################

.deployed
.installed

### MAVEN (include pom.xml in /base) ###########################################

*.jar
*.war
boot/aether/pom.xml
boot/core/pom.xml
boot/pod/pom.xml
boot/worker/pom.xml

### NREPL ######################################################################

.repl-*
.nrepl-*

### JAVA #######################################################################

/hs_err_pid*.log

### OSX ########################################################################

.DS_Store

### EMACS ######################################################################

[#]*[#]

### VIM ########################################################################

*.swn
*.swo
*.swp

### PROJECT ####################################################################

/bin/
/boot/*/target/
/zzz/
