### BOOT #######################################################################

/.boot/

### LEININGEN ##################################################################

.lein-*

### MAKE #######################################################################

.deployed
.installed

### MAVEN (include pom.xml in /base) ###########################################

*.jar
*.war
pom.xml
pom.xml.asc

### NREPL ######################################################################

.repl-*
.nrepl-*

### JAVA #######################################################################

/hs_err_pid*.log

### OSX ########################################################################

.DS_Store

### EMACS ######################################################################

[#]*[#]

### VIM ########################################################################

*.swn
*.swo
*.swp

### PROJECT ####################################################################

/bin/
/boot/*/target/
/zzz/
/launch4j-config.xml
/l4j/
