{:project       tailrecursion/boot
 :version       "0.1.0-SNAPSHOT"
 :dependencies  [[tailrecursion/boot.core "1.0.0"]
                 [tailrecursion/boot.task "0.1.0-SNAPSHOT"]]
 :require-tasks #{[tailrecursion.boot.task :as t]} 
 :src-paths     #{"test"}
 :tasks
 {:test
  {:dependencies  [[alandipert/enduro "1.1.2"]]
   :main          [tailrecursion.boot-test/main]}}}
